<div class="py-12 bg-white">
  <div class="max-w-6xl mx-auto px-4 flex flex-col items-center">
    <div class="w-full font-display text-4xl text-center text-brick-red py-6 border-y-3 border-double">
      VIP Beer Tent Experience      
    </div>
    <div class="flex flex-col items-center text-center">
      <div class="mb-4 mt-8 p-2 font-display text-2xl text-center text-brick-red border-b-2">
        July 24th & 25th, 7-10pm
      </div>
      <div class="my-2 text-lg">
        Want to party like a VIP at this year's lawn fete?
      </div>
      <div class="my-2 text-lg">
        Upgrade your night with your own private VIP tent for our main acts!
      </div>
      <div class="my-4 text-lg font-semibold">
        ✨ $500 VIP PACKAGE INCLUDES:
      </div>
      <div class="my-4 text-lg text-left max-w-2xl">
        <div>✅ Private 10x10 VIP Tent</div>
        <div>✅ Free beer tent entry for 10 guests</div> 
        <div>✅ Stocked cooler with complimentary cold beer, seltzers, water & pop 🧊🥤</div>
        <div>✅ Sheet pizza & wings 🍕🍗</div>
        <div>✅ Exclusive meet & greet with the band 🎤</div>
        <div>✅ Access to a semi-private VIP-only portable restroom 🚻</div>
      </div>
      <div class="my-4 text-lg font-semibold">
        🎶 Choose your night:
      </div>
      <div class="my-4 text-lg text-left max-w-2xl">
        <div>📅 Friday, July 24th -- Nerds Gone Wild</div>
        <div>📅 Saturday, July 25th -- Funkensteins</div>
        <div>🕖 VIP Hours: 7:00pm - 10:00pm</div>
      </div>
      <div class="my-2 text-lg">
        ⚠️ Package valid for one night only (your choice) - Tents are limited<br />
        Perfect for friends, families, reunions or business outings!
      </div>
      <div class="my-2 text-lg">
        Purchase VIP experience <span class="font-semibold"><a href="https://givebutter.com/sYqso6">here</a></span>!
      </div>
    </div>
  </div>
</div>
