{{ $hillsBg := resources.Get "hills_bg.svg" }}
{{ $fb_logo := resources.Get "images/facebook-144.png" }}
{{ $fb_logo := $fb_logo.Process "resize 80x webp" }}
{{ $insta_logo := resources.Get "images/instagram-188.png" }}
{{ $insta_logo := $insta_logo.Process "resize 80x webp" }}

<div class="py-12 w-full bg-[url({{ $hillsBg.RelPermalink }})] bg-top bg-no-repeat">
  <div class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {{ range .Site.Data.events }}
      <div class="text-center p-6 {{ .bg }} rounded-lg">
        <div class="text-4xl mb-4">{{ .icon }}</div>
        <h3 class="text-xl font-semibold mb-2">{{ .title }}</h3>
        <p class="text-lg">{{ .description }}</p>
      </div>
      {{ end }}
    </div>
    <div class="mt-4 flex justify-center space-x-4">
      <a href="https://www.facebook.com/profile.php?id=61557382814999">
        <img src="{{ $fb_logo.RelPermalink }}" />
      </a>
      <a href="https://www.instagram.com/ssppschoollawnfete/">
        <img src="{{ $insta_logo.RelPermalink }}" />
      </a>
    </div>
    <div class="mt-4 text-2xl font-semibold flex justify-center space-x-4">
      <a class="text-brick-red" href="https://www.signupgenius.com/go/30E0848ABAF23A1FE3-49703679-lawn#/">Volunteer at
        the SSPP Lawn Fete!</a>
    </div>
  </div>
</div>
