{{ $nbn := resources.Get "images/nineties_by_nature_photo.png" }}
{{ $nbn := $nbn.Process "resize 450x webp "}}
{{ $chetgary := resources.Get "images/sponsors/chet_gary.png" }}
{{ $chetgary := $chetgary.Process "resize 250x webp" }}
{{ $nerds := resources.Get "images/nerds_gone_wild_photo.png" }}
{{ $nerds := $nerds.Process "resize 450x webp" }}
{{ $melaniestang := resources.Get "images/melanie_stang.jpg" }}
{{ $melaniestang := $melaniestang.Process "resize 250x webp" }}
{{ $hitnrun := resources.Get "images/hit-n-run_logo.jpg" }}
{{ $hitnrun := $hitnrun.Process "resize 450x webp" }}

<div class="py-12 bg-white">
  <div class="max-w-6xl mx-auto px-4 flex flex-col items-center">
    <div class="w-full font-display text-4xl text-center text-brick-red py-6 border-y-3 border-double">
      Live Music
    </div>

    <div class="mb-4 mt-8 p-2 font-display text-2xl text-center text-brick-red border-b-2">
      Thursday Night, July 24th 7-10pm
    </div>
    <div>
      <img src="{{ $nbn.RelPermalink }}" />
    </div>

    <div class="mb-4 mt-8 p-2 font-display text-2xl text-center text-brick-red border-b-2">
      Friday Night, July 25th 5-10pm
    </div>
    <div class="flex flex-col items-center text-xl text-center font-semibold">
      <div class="my-4">Opening from 5-7pm: Chet Gary</div>
      <img src="{{ $chetgary.RelPermalink }}" />
      <div class="my-4">7-10pm: Nerds Gone Wild</div>
      <img src="{{ $nerds.RelPermalink }}" />
    </div>

    <div class="mb-4 mt-8 p-2 font-display text-2xl text-center text-brick-red border-b-2">
      Saturday Night, July 26th 6-10pm
    </div>
    <div class="flex flex-col items-center text-xl text-center font-semibold">
      <div class="my-4">Opening from 6-7pm: Melanie Stang</div>
      <img src="{{ $melaniestang.RelPermalink }}" />
      <div class="my-4">7-10pm: Hit N Run</div>
      <a href="https://www.hitnrun.net/">
        <img src="{{ $hitnrun.RelPermalink }}" />
      </a>
    </div>
    <div class="my-4 text-center">
      <div>Buffalo Music Hall of Fame</div>
      <div>Buffalo Music Award Winner 9 Years running</div>
      <div>"Top Rock Pop Band"</div>
      <div>Channel 4's "Best Of" Cover Rock Band</div>
    </div>
  </div>
</div>
