{{ $funk := resources.Get "images/west_ends_funkensteins.png" }}
{{ $funk := $funk.Process "resize 600x webp "}}
{{ $chetgary := resources.Get "images/sponsors/chet_gary.png" }}
{{ $chetgary := $chetgary.Process "resize 250x webp" }}
{{ $nerds := resources.Get "images/nerds_gone_wild_photo.png" }}
{{ $nerds := $nerds.Process "resize 450x webp" }}
{{ $gengap := resources.Get "images/generation_gap.jpg" }}
{{ $gengap := $gengap.Process "resize 550x webp" }}

<div class="py-12 bg-white">
  <div class="max-w-6xl mx-auto px-4 flex flex-col items-center">
    <div class="w-full font-display text-4xl text-center text-brick-red py-6 border-y-3 border-double">
      Live Music
    </div>

    <div class="mb-4 mt-8 p-2 font-display text-2xl text-center text-brick-red border-b-2">
      Thursday Night, July 24th 7-10pm
    </div>
    <div>
      <img src="{{ $gengap.RelPermalink }}" />
    </div>

    <div class="mb-4 mt-8 p-2 font-display text-2xl text-center text-brick-red border-b-2">
      Friday Night, July 25th 5-10pm
    </div>
    <div class="flex flex-col items-center text-xl text-center font-semibold">
      <div class="my-4">Opening from 5-7pm: Chet Gary</div>
      <img src="{{ $chetgary.RelPermalink }}" />
      <div class="my-4">7-10pm: Nerds Gone Wild</div>
      <img src="{{ $nerds.RelPermalink }}" />
    </div>

    <div class="mb-4 mt-8 p-2 font-display text-2xl text-center text-brick-red border-b-2">
      Saturday Night, July 26th 6-10pm
    </div>
    <div class="flex flex-col items-center text-xl text-center font-semibold">
      <img src="{{ $funk.RelPermalink }}" />
    </div>
  </div>
</div>
