{{ define "main" }}

{{ $tentFlags := resources.Get "tent_flags.svg" }}

<div class="max-w-6xl mx-auto px-4">
  <div class="mx-auto lg:w-2/3 p-4">
    <img src="{{ $tentFlags.RelPermalink }}">
  </div>
  <div class="container mx-auto text-center space-y-6 lg:space-y-10">
    <div class="font-display text-6xl text-brick-red">
      Sponsorships
    </div>
    {{ range .Site.Data.sponsorships }}
    <div>
      {{ .title }} ${{ .price }}
      {{ .description }}
    </div>
    {{ end }}
    <div>
      ** All additional donations outside of the titles above are greatly appreciated and will be announced in the
      event's social media and church bulletin.
    </div>
    <div>
      Pay Online with QR Code OR Mail check made out to "SSPP Parents Guild", Attn: Lawn Fete Committee, 68 E. Main St.,
      Hamburg, NY 14057
    </div>
  </div>
</div>
{{ end }}
